# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json

name: "CI"
on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
permissions:
  contents: "write"
  pull-requests: "write"
jobs:
  lint:
    uses: "anthony-spruyt/repo-operator/.github/workflows/_lint.yaml@main"
    secrets: "inherit"
  summary:
    needs:
      - "lint"
    if: "always()"
    uses: "anthony-spruyt/repo-operator/.github/workflows/_summary.yaml@main"
